$toggle-ios-background-color-on: $legacy-green;
$toggle-md-track-background-color-on: lighten($legacy-green, 25%);

$font-family-base:'Air New Zealand Sans', Arial, sans-serif;
$font-family-md-base: $font-family-base;
$font-family-ios-base: $font-family-base;
$font-family-wp-base: $font-family-base;
