$input-default-padding: 0 5px 0 10px;
$input-default-height: 48px;
$input-default-margin: 0;

.gs-input {
  min-width: 250px;
  margin: $input-default-margin;
  min-height: $input-default-height;
  width: 100%;
  border: $input-default-border;
  border-radius: $input-default-border-radius;
  font-size: $large-font-size !important;
  padding: $input-default-padding;
  transition: background-color 200ms, border-color 200ms, color 200ms;
  background-color: transparent;

  &:focus {
    outline-style: solid;
    outline-color: transparent;
    border-color: $airnz-input-focus;
    box-shadow: inset 0 0 0 1px $airnz-input-focus;
  }
}

.error {
  .gs-input{
    border-color: $red;
  }
}

label {
  font-size: $minimum-font-size;
  font-weight: bold;
}
