<div class="gs-ff-inner">
  <!-- controls -->
  <div class="gs-ff-form">

    <div class="gs-ff-form-item gs-ff-form-dr clearfix">
      <!-- origin -->
      <gs-dd-input [ngClass]="{error:flightModelError.origin}" prompt="from" [items]="allAirports" [selectedItem]="ffOriginIata"
                   [featured]="airportsModel.featuredNZAirportList" tabIndex="-1"
                   (itemChange)="originChange($event)" id="ff-origin" (focussed)="closeDD()"
                   gaTrackingEventItem="origin" gaTrackingEventCategory="low fare finder"></gs-dd-input>

      <!-- destination -->
      <gs-dd-input [ngClass]="{error:flightModelError.destination}" prompt="to" [items]="allAirports" [selectedItem]="ffDestinationIata"
                   [featured]="airportsModel.featuredNZAirportList" tabIndex="-1"
                   (itemChange)="destChange($event)" id="ff-dest" (focussed)="closeDD()"
                   gaTrackingEventItem="destination" gaTrackingEventCategory="low fare finder"></gs-dd-input>
    </div>

    <div class="gs-ff-form-item gs-ff-form-tt clearfix">
      <ion-list radio-group="" role="radiogroup">
        <ion-item mode="md">
          <ion-label color="danger" mode="md" class="label label-md label-md-danger" id="lbl-5">oneway</ion-label>
          <ion-radio color="danger" mode="md" value="false" class="radio radio-md radio-md-danger"></ion-radio>
        </ion-item>
        <ion-item mode="md">
            <ion-label color="danger" mode="md" class="label label-md label-md-danger" id="lbl-6">return</ion-label>
            <ion-radio color="danger" mode="md" value="true" class="radio radio-md radio-md-danger"></ion-radio>
          </ion-item>
      </ion-list>
      <a class="gs-link" href="https://flightbookings.grabaseat.co.nz/vbook/actions/multicitysearch" target="_blank">Book a multistop trip</a>
    </div>

    <div class="gs-ff-form-item gs-ff-form-dates clearfix" [ngClass]="{'gs-ff-control-show': userInteraction}">
      <gs-cal-dd></gs-cal-dd>
      <gs-cal-dd></gs-cal-dd>
    </div>

    <div class="gs-ff-form-item gs-ff-form-pax clearfix" [ngClass]="{'gs-ff-control-show': userInteraction}">
      
      <div class="gs-ff-form-unit">
          <p>Adults</p>
          <gs-unit-ticker></gs-unit-ticker>
      </div>
      
      <div class="gs-ff-form-unit">
          <p>Children  <span>2-11 years</span></p>
          <gs-unit-ticker></gs-unit-ticker>
      </div>

      <div class="gs-ff-form-unit">
          <p>Infants <span>0-23 months</span></p>
          <gs-unit-ticker></gs-unit-ticker>
      </div>

    </div>

    <div class="gs-ff-form-item gs-ff-form-extras" [ngClass]="{'gs-ff-control-show': userInteraction}">

      <input class="gs-input" placeholder="promo code">

      <button ion-button>Book</button>
    </div>

  </div>

  <!-- quick deals -->
  <div>

  </div>
</div>

