@import '../../theme/input.scss';

gs-ff {
    display: block;
    padding: 15px 25px;

    .gs-input {
        max-width: 220px;
        min-width: 220px;
        margin: 5px 5px 0;
        display: block !important;
        min-height: 38px !important;
    }

    .gs-ff-form-dates {
        display: inline-flex;
    }

    .gs-ff-form-item{
        width: 100%;
    }

    .gs-ff-form-tt {
        ion-list {
            max-width: 300px;
            margin: 5px 0;
        }

        ion-item {
            float: left;
            width: 40%;
            margin: 5px 0;
            background: transparent;
        }
    }
}
